.venv
transpiler/full.py
converter/full.py
requirements1.txt
cloud_cli.egg-info/
new_hcl/
fully_deployable_IaC/testing.pem
IaC_Clone/
.terraform/
build/
CLI/old_cloud_cli.py
line_mappings.json
original.json
parsed.json
result.json
tracking/
hcl2/
converter/full_mod.py
converter/line_mapper.py
converter/test_converter.py
converter/test_tf_map.py
transpiler/full_mod.py
transpiler/full_mod2.py
transpiler/integration.py
transpiler/source_tracking.py
transpiler/test_transpiler.py
IaC/.keys/cloud-cli-key.pem